body {
    background-color: #7a635a;
}

h1 {
    color: #f48686;
    text-shadow: 2px 2px 2px black;
    text-align: center;
    
}

input {
    border-radius: 15px;
    min-height: 4em;
    min-width: 4em;
    text-align: center;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  text-align: center;
}

input:required {
    width: 25%;
    background-color: #FCDFA6;
    border: 1px black;
    color: brown;
    font-weight: 300;
}

input:required:invalid {
    border: red;
}

::placeholder {
    color: #A18276;
}

#first-input {
    /* border: 1px solid black;
    box-shadow: 3px 3px 5px #CBE896;
    inset: ; */

    border-radius: 3px;
    border: 1px solid transparent;
    border-top: none;
    border-bottom: 1px solid #DDD;
    box-shadow: 3px 3px 5px #CBE896, 0 -1px 1px #FCDFA6, 0 1px 0 #F4B886;
}

#second-input {
    border-radius: 3px;
    border: 1px solid transparent;
    border-top: none;
    border-bottom: 1px solid #DDD;
    box-shadow: 3px 3px 5px #CBE896, 0 -1px 1px #FCDFA6, 0 1px 0 #F4B886;
}

#current-total {
    font-size: 100px;
    color: #CBE896;
    text-shadow: 2px 2px 2px black;
    text-align: center;
}

#calculation-list {
    font-size: 100px;
    color: #F4B886;
    text-shadow: 2px 2px 2px #f48686;
    text-align: center;
    opacity: 15%;
    list-style-type: none;
}

.btn-row {
    align-content: space-around;
}
.calculation-on-dom {
    font-size: 100px;
    color: #F4B886;
    text-shadow: 2px 2px 2px #f48686;
    text-align: center;
}

.btn {
    min-height: 4em;
    min-width: 4em;
    background-color: #AAC0AA;
    border-radius: 50%;
    text-shadow: 1px 1px #A18276;
}

.btn:active {
    background-color: #CBE896;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}